---
import SearchBar from '@/components/SearchBar'
import PanelInformation from '@/components/PanelInformation'
---
<section class="top_section">
  <h1>IP Address Tracker</h1>
  <SearchBar client:load/>
  <PanelInformation client:load/>
</section> 